@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.buttons {
  text-align: center;
  font-size: 2rem;
}

footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  border-top: 1px solid black;
}

.author {
  font-family: 'Berkshire Swash', cursive;
}

.udemy {
  font-size: 1rem;
}

/* "body" in class */
.button-box {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-box--dark {
  background: #222;
}

.button-box--grey {
  background: grey;
}

#btn--1 {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

#btn--1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform .5s;
}

#btn--1:hover:before {
  transform: rotate(0deg);
}

#btn--2 {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

#btn--2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom right;
  transform: rotate(90deg);
  transition: transform .5s;
}

#btn--2:hover:before {
  transform: rotate(0deg);
}

#btn--3 {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#btn--3:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}

#btn--3:hover:before {
  transform: translateX(0);

}

#btn--3:hover {
  color: white;
}

#btn--4 {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#btn--4:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateY(100%);
  transition: all 1s;
}

#btn--4:hover:before {
  transform: translate(0);

}

#btn--4:hover {
  color: white;
}

#btn--5 {
  padding: 40px 80px;
  font-family: sans-serif;
  text-decoration: none;
  color: #262626;
  font-size: 45px;
  letter-spacing: 2px;
  border: 5px solid #262626;
  position: relative;
  transition: 1s;
}

#btn--5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 2s;
  transform: rotateX(90deg);
  z-index: -1;
}

#btn--5:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 2s;
  transform: rotateY(90deg);
  z-index: -1;
}

#btn--5:hover:before {
  transform: rotateX(0deg);
}

#btn--5:hover:after {
  transform: rotateX(0deg);
}

#btn--5:hover {
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#btn--6 {
  text-decoration: none;
  padding: 40px 80px;
  color: #E1332D;
  border: 3px solid #E1332D;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all .5s;
}

#btn--6:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 3px solid #E1332D;
}

#btn--7 {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#btn--7:before {
  content: "YEAH";
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #F44336;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn--7:hover:before {
  transform: translate(0);

}

#btn--7:hover {
  color: white;
}

#btn--8 {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

#btn--8:hover {
  background-color: #F44336;
}

#btn--8:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all .3s;
}

#btn--8:hover:before {
  transform: translateX(100%) rotate(45deg);
}

#btn--9 {
  text-decoration: none;
  background-color: #262626;
  font-family: sans-serif;
  font-size: 40px;
  border: 4px solid #262626;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  color: transparent;
}

#btn--9:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap;
  transition: all 0.5s;
}

#btn--9:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}

#btn--9:hover:before {
  transform: translate(100%, -100%);
}

#btn--9:hover:after {
  transform: translate(0)
}

#btn--10 {
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #262626;
  padding: 40px 80px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

#btn--10:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

#btn--10:hover:before {
  transform: scale(1);
  opacity: 1;
}

#btn--11 {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 20px 40px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

#btn--11:hover {
  color: white;
}

#btn--11:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  height: 0%;
  transition: all 0.5s;
}

#btn--11:hover:before {
  height: 190%;
}

#btn--12 {
  font-family: sans-serif;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f1c40f;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
}

#btn--12:before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ce771;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all .5s;
}

#btn--12:hover:before {
  transform: rotateX(0);

}

#btn--12:after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all .5s;
  transition-delay: .25s;
}

#btn--12:hover:after {
  transform: rotateX(0);
}

#btn--13 {
  font-family: sans-serif;
  padding: 20px 40px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 3px solid #ff0;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}

#btn--13:before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: .5s;
}

#btn--13:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

#btn--13:after {
  content: "button";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: .5s;
  transform: scale(0) rotateY(0);
  opacity: 0;
}

#btn--13:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

#btn--14 {
  font-family: verdana;
  width: 220px;
  height: 80px;
  color: #ff0;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  transition: all .5s;
  position: relative;
  z-index: 10;
}

#btn--14:before,
#btn--14:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .3s;
  opacity: 0;
}

#btn--14:before {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: -100px 0 0 #ff0;
}

#btn--14:after {
  right: 0;
  box-shadow: 100px 0 0 #ff0;
  transform: translateX(50%) translateY(-50%);
}

#btn--14:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #ff0;
  opacity: 1;
}

#btn--14:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #ff0;
  opacity: 1;
}

#span-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  color: #262626;
  border-radius: 8px;
  transform: scale(0);
  transition: all .3s;
  z-index: -1;
}

#btn--14:hover span {
  transform: scale(1);
  transition-delay: .4s;
  z-index: 2;
}

#btn--14:hover {
  color: #262626;
  transition-delay: 0.4s;
  z-index: 10;
}

#btn--15 {
  font-family: verdana;
  width: 500px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  transition: all .2s;
  color: white;
}

#btn--15:hover {
  color: #262626;
}

#btn--15:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #20caff;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all .2s;
  transform-origin: top;
}

#btn--15:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

#btn--15:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 100%;
  height: 100%;
  background-color: #ff7675;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all .2s;
  transform-origin: bottom;
}

#btn--15:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

#btn--16 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-family: verdana;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  position: relative;
  border: 3px solid #f6b93b;
  transition: all 0.2s;
  overflow: hidden;
}

#btn--16:before,
#btn--16:after,
.span-16:before,
.span-16:after {
  content: "";
  position: absolute;
  width: 25.5%;
  height: 100%;
  background-color: #f6b93b;
  z-index: -1;
  transition: all 0.2s;
}

#btn--16:before {
  top: 100%;
  left: 0%;

}

#btn--16:hover:before {
  top: 0;
  left: 0;
}

#btn--16:after {
  top: -100%;
  left: 25%;
}

#btn--16:hover:after {
  top: 0;
  left: 25%;
}

.span-16:before {
  top: 100%;
  right: 25%;
}

#btn--16:hover .span-16:before {
  top: 0;
  right: 25%;
}

.span-16:after {
  top: -100%;
  right: 0;
}

#btn--16:hover .span-16:after {
  top: 0;
  right: 0;
}

#btn--16:hover {
  color: #222;
  z-index: 2;
}

#btn--17 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: verdana;
  letter-spacing: 3px;
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  color: #FDC518;
  position: relative;
}

#btn--17:before {
  content: "";
  position: absolute;
  height: 90px;
  width: 200px;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid #FDC518;
  transition: all 1s;
}

#btn--17:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid #FDC518;
  transition: all 1s;
}

#btn--17:hover:before {
  transform: rotateY(180deg);
}

#btn--17:hover:after {
  transform: rotateX(180deg);
}